<h1>StaticPages#index</h1>
<!-- <p>Find me in app/views/static_pages/index.html.erb</p> -->
<p>Welcome! The date and time is <%= Time.now %></p>
<!--
<% test_variable = 42 %>
<%= test_variable %>
<%= test_variable - 2 %>
-->
<h1>Welcome to Bike Oakland</h1>
<h2>Your source for used bikes in Oakland</h2>
<h3>Contact Michael Irschick</h2>

<h3>Image: No options</h2>
<%= image_tag("kitten.png") %>
<h3>Image: added options</h2>
<%= image_tag("kitten.png", class: "img-responsive my-image") %>
<h3>Image: even more options</h2>
<%= image_tag("kitten.png", width: '32', height: '32', alt: 'cute kitten', class: "img-responsive") %>

