<div class="col-xs-6 col-md-4 col-xs-offset-1 col-md-offset-4">
<h2>Log in to Bikes of Oakland</h2>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group">
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, class: 'form-control' %>
        </div>
        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
        </div>
        <% if devise_mapping.rememberable? %>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
        <% end -%>
        <div class="actions">
          <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
        </div>
      </div>
  <% end %>
  <%= render "devise/shared/links" %>
</div>



  <!--<div class="border-form-div">-->
    <!--<h2>Sign in</h2>-->
    <!--<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>-->
        <!--<%= f.email_field :email, :autofocus => true %>-->
        <!--<%= f.password_field :password %>-->
        <!--<% if devise_mapping.rememberable? -%>-->
            <!--<label class="checkbox"> <%= f.label :remember_me %> Remember me </label>-->
        <!--<% end -%>-->
        <!--<%= f.submit "Sign in" %>-->
    <!--<% end %>-->
    <!--<%= render "devise/shared/links" %>-->
  <!--</div>-->
  <!-- BEGIN # BOOTSNIP INFO -->
  <!--<div class="container">-->
    <!--<div class="row">-->
      <!--<h1 class="text-center">Modal Login with jQuery Effects</h1>-->
      <!--<p class="text-center"><a href="#" class="btn btn-primary btn-lg" role="button" data-toggle="modal" data-target="#login-modal">Open Login Modal</a></p>-->
    <!--</div>-->
  <!--</div>-->
  <!-- END # BOOTSNIP INFO -->

  <!-- BEGIN # MODAL LOGIN -->
  <!--<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">-->
    <!--<div class="modal-dialog">-->
      <!--<div class="modal-content">-->
        <!--<div class="modal-header" align="center">-->
          <!--<img class="img-circle" id="img_logo" src="http://bootsnipp.com/img/logo.jpg">-->
          <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
            <!--<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>-->
          <!--</button>-->
        <!--</div>-->

        <!--&lt;!&ndash; Begin # DIV Form &ndash;&gt;-->
        <!--<div id="div-forms">-->

          <!--&lt;!&ndash; Begin # Login Form &ndash;&gt;-->
          <!--<form id="login-form">-->
            <!--<div class="modal-body">-->
              <!--<div id="div-login-msg">-->
                <!--<div id="icon-login-msg" class="glyphicon glyphicon-chevron-right"></div>-->
                <!--<span id="text-login-msg">Type your username and password.</span>-->
              <!--</div>-->
              <!--<input id="login_username" class="form-control" type="text" placeholder="Username (type ERROR for error effect)" required>-->
              <!--<input id="login_password" class="form-control" type="password" placeholder="Password" required>-->
              <!--<div class="checkbox">-->
                <!--<label>-->
                  <!--<input type="checkbox"> Remember me-->
                <!--</label>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="modal-footer">-->
              <!--<div>-->
                <!--<button type="submit" class="btn btn-primary btn-lg btn-block">Login</button>-->
              <!--</div>-->
              <!--<div>-->
                <!--<button id="login_lost_btn" type="button" class="btn btn-link">Lost Password?</button>-->
                <!--<button id="login_register_btn" type="button" class="btn btn-link">Register</button>-->
              <!--</div>-->
            <!--</div>-->
          <!--</form>-->
          <!--&lt;!&ndash; End # Login Form &ndash;&gt;-->

          <!--&lt;!&ndash; Begin | Lost Password Form &ndash;&gt;-->
          <!--<form id="lost-form" style="display:none;">-->
            <!--<div class="modal-body">-->
              <!--<div id="div-lost-msg">-->
                <!--<div id="icon-lost-msg" class="glyphicon glyphicon-chevron-right"></div>-->
                <!--<span id="text-lost-msg">Type your e-mail.</span>-->
              <!--</div>-->
              <!--<input id="lost_email" class="form-control" type="text" placeholder="E-Mail (type ERROR for error effect)" required>-->
            <!--</div>-->
            <!--<div class="modal-footer">-->
              <!--<div>-->
                <!--<button type="submit" class="btn btn-primary btn-lg btn-block">Send</button>-->
              <!--</div>-->
              <!--<div>-->
                <!--<button id="lost_login_btn" type="button" class="btn btn-link">Log In</button>-->
                <!--<button id="lost_register_btn" type="button" class="btn btn-link">Register</button>-->
              <!--</div>-->
            <!--</div>-->
          <!--</form>-->
          <!--&lt;!&ndash; End | Lost Password Form &ndash;&gt;-->

          <!--&lt;!&ndash; Begin | Register Form &ndash;&gt;-->
          <!--<form id="register-form" style="display:none;">-->
            <!--<div class="modal-body">-->
              <!--<div id="div-register-msg">-->
                <!--<div id="icon-register-msg" class="glyphicon glyphicon-chevron-right"></div>-->
                <!--<span id="text-register-msg">Register an account.</span>-->
              <!--</div>-->
              <!--<input id="register_username" class="form-control" type="text" placeholder="Username (type ERROR for error effect)" required>-->
              <!--<input id="register_email" class="form-control" type="text" placeholder="E-Mail" required>-->
              <!--<input id="register_password" class="form-control" type="password" placeholder="Password" required>-->
            <!--</div>-->
            <!--<div class="modal-footer">-->
              <!--<div>-->
                <!--<button type="submit" class="btn btn-primary btn-lg btn-block">Register</button>-->
              <!--</div>-->
              <!--<div>-->
                <!--<button id="register_login_btn" type="button" class="btn btn-link">Log In</button>-->
                <!--<button id="register_lost_btn" type="button" class="btn btn-link">Lost Password?</button>-->
              <!--</div>-->
            <!--</div>-->
          <!--</form>-->
          <!--&lt;!&ndash; End | Register Form &ndash;&gt;-->

        <!--</div>-->
        <!--&lt;!&ndash; End # DIV Form &ndash;&gt;-->

      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
  <!-- END # MODAL LOGIN -->